<h1> NFL Teams </h1>

<%= link_to "Back To Admin Portal", admins_path %> <br> <br> <br>

<%= link_to "Create Team", new_team_path %> <br>

<table>
  <tr>
    <th>Team Name</th>
  </tr>
  <br />
  <% @teams.each do |team| %>
    <tr>
      <td> <%= team.name %> </td>
      <td> || <%= link_to "edit", edit_team_path(team) %> || </td>
      <td> <%= link_to "delete", team_path(team), method: :delete %></td>
    </tr>
  <% end %>
</table>

<!-- Will put this back into the delete link later -->
<!-- , data: {confirm: "Are you sure you want to delete?"} -->