<p> <%= link_to "View Your Picks", picks_path %> </p>
<p> <%= link_to "Select a Different Week", weeks_path %> </p>

<h2> All Matchups for Week <%= @week.number %> : </h2>

<% @week.matchups.each do |matchup| %>
  <h3>
    <li>Home : <%= matchup.home_team.name %> <%= link_to "Pick", set_pick_picks_path(:week_id => @week.id, :user_id => current_user.id, :team_id => matchup.home_team.id), method: :post %> </li>
    <li>Away : <%= matchup.away_team.name %></li>
  </h3>
<% end %>

