<h1> All Matchups </h1>

<p> <%= link_to "Create Matchup", new_matchup_path %> </p>

Week
<% (1..17).each do |i| %>
 <%= i %> |
<% end %> <br>

<table>
  <tr>
    <th>Week</th>
    <th>Home Team</th>
    <th>Away Team</th>
  </tr>
  <br />
  <% @matchups.each do |matchup| %>
    <tr>
      <td> <%= matchup.week_id %> </td>
      <td> <%= matchup.home_team.try(:name) %> </td>
      <td> <%= matchup.away_team.try(:name) %> </td>
      <td> || <%= link_to "edit", edit_matchup_path(matchup) %> || </td>
      <td> <%= link_to "delete", matchup_path(matchup), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></td>
    </tr>
  <% end %>
</table>