<%= form_for @pick do |f| %>  

<% if @pick.errors.any? %>
  <% @pick.errors.full_messages.each do |message| %>
    <p> <%= message %></p>
  <% end %>
<% end %> 

<p>
  <%= f.label :week, "Week" %> <br>
  <%= collection_select(:pick, :week_id, Week.all, :id, :number, prompt: true) %>
</p>

<p>
  <%= f.label :team, "Team" %> <br>
  <%= collection_select(:pick, :team_id, Team.all, :id, :name, prompt: true) %>
</p>

<%= f.hidden_field :user_id, value: current_user.id %>

<%= f.submit %>
<% end %>