<p> <%= link_to "All Members' Picks", weeks_path %> </p>

<h2> View the Matchups: </h2>
<table>
  <tr>
    <th>Week:</th>
    <% @weeks.each do |week| %>
      <td> <%= link_to week.number, week_path(week) %> </td>
    <% end %>
</table>

<span> ------------------------------ </span>

<h2> Your Picks: </h2>

<table>

  <tr>
    <th>Week:</th>
    <th>Your Pick:</th>
  </tr> <br>

  <% @picks.each do |pick| %>
    <tr>
      <td> <%= pick.week.number %> </td>
      <% if pick.team_id.present? %>
        <td> <%= pick.team.try(:name) %> </td>
        <td> <%= link_to "Edit", edit_pick_path(pick) %> </td>
      <% else %> 
        <td> <%= link_to "Pick Someone", edit_pick_path(pick) %> </td>
      <% end %>
    </tr>
  <% end %>

</table>



