<h1> Your Picks </h1>

<p> <%= link_to "Quick Pick", new_pick_path %> </p>
<p> <%= link_to "View the Matchups",  weeks_path %> </p>


<table>
  <tr>
    <th>Week</th>
    <th>Team</th>
  </tr>
  <br />
  <% @picks.each do |pick| %>
    <tr>
      <td> <%= pick.week.number %> </td>
      <td> <%= pick.team.name %> </td>
      <td> || <%= link_to "edit", edit_pick_path(pick) %> || </td>
      <td> <%= link_to "delete", pick_path(pick), method: :delete %></td> <!--add this in after the :delete if you want to have an alert before deleting: , data: {confirm: "Are you sure you want to delete?"} -->
    </tr>
  <% end %>
</table>