<!DOCTYPE html>
<html>
<head>
  <title>NflSurvivor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if admin_signed_in? %>
      <nav> <%= "Admin logged in as <#{current_admin.email}>" %> || <%= link_to "Edit Profile", edit_admin_registration_path  %> || <%= link_to "Logout", destroy_admin_session_path, :method => :delete  %> </nav>      
    <% else %>
      <nav> <%= link_to "Admin Login", new_admin_session_path %> || <%= link_to "Admin Register", new_admin_registration_path %> </nav>
    <% end %>

    <% if user_signed_in? %>
      <nav> <%= "User logged in as <#{current_user.email}>" %> || <%= link_to "Edit Profile", edit_user_registration_path  %> || <%= link_to "Logout", destroy_user_session_path, :method => :delete  %> </nav>      
    <% else %>
      <nav> <%= link_to "User Login", new_user_session_path %> || <%= link_to "User Register", new_user_registration_path %> </nav>
    <% end %>

    <!-- Logout is currently terminating both sessions, I only want it to kill one -->

  <nav>
    <p> <a href="/home">Home</a> <p>
    <p> <%= link_to "Teams", teams_path %> </p>
    <p> <%= link_to "Weeks", weeks_path %> </p>
    <p> <%= link_to "Matchups", matchups_path %> </p>
  </nav>

  <% flash.each do |name, msg| %>
    <div class=" <%= name %>">
      <%= msg %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
