<!DOCTYPE html>
<html>
<head>
  <title>NflSurvivor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <p> <a href="/home">Home</a> <p>
    <p> <%= link_to "Teams", teams_path %> </p>
    <p> <%= link_to "Weeks", weeks_path %> </p>
    <p> <%= link_to "Matchups", matchups_path %> </p>
  </nav>

  <% flash.each do |name, msg| %>
    <div class=" <%= name %>">
      <%= msg %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
